.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.input {
  margin-top: 100px;
}

.IoIosTrash {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.SearchInput {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.Input {
  height: 50px;
}

.SearchInput__search--input, 
.SearchInput__seact--submit, 
.IntegerInput__input--integer, .Input__input,
.FloatInput__input--float {
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.SearchInput__search--input, 
.IntegerInput__input--integer, .Input__input,
.FloatInput__input--float {
  width: 180px;
  border: 1px solid black;
  height: 42px;
  padding-left: 15px;
}
.SearchInput__seact--submit {
  height: 26px;
  width: 26px;
  margin-right: 105px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.SearchInput__seact--submit:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}

.SearchInput__seact--delete {
  position: absolute;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
